header {
  display: flex;
  align-items: center;
  justify-content: center;
}


h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  background-color: rgb(110, 35, 35);
  color: rgb(255, 255, 255);
  border-radius: 20px;
}


body {
  font-family: Arial, sans-serif;
  color: black;
  background-image: url(assets/img-fundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}


#Ilustracao {
  height: 400px;
}


.imagem {
  max-width: 100%;
  height: 200px;
  margin: 10px;
  border-radius: 20px;
  border: 5px solid black;
}


#Noticias-HomemDeFerro {
  margin-top: 20px;
  background-color: #8d1010;
  padding: 15px;
  border-radius: 10px;
  color: #ffffff;
  text-align: center;
}


#Noticias-HomemDeFerro .Noticias a {
  font-family: "Times New Roman", Times, serif;
  color: #aa9a3e;
}


footer {
  background-color: #4d0b0b;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
}
